/* * {
  border: 2px solid black
} */
body {
  font-family: Arial, Helvetica, sans-serif
}
h1 {
  text-align: center;
  margin: auto;
  background-color: #110331;
  color: white;
}
span{
  display:block;
}
.getMe{
  display: inline;
}
.qty {
  display:inline-block;
}

.price{
  display:inline-block;
}

.bestsell {
  display: inline-block;
  border: auto;
  text-align: center;
} 
.social {
  display: inline-block;
  border: 100%;
  padding: auto;
}
 #face {
  display: inline-block;
  padding: auto;
}
#insta {
  display: inline-block;
  padding: auto;   
}
#twit {
  display: inline-block;
  padding: auto;
}  
.btn btn-outline-secondary{
width: 20%;
}
footer *{
  display: block;
  width: 100%;
  border: 100%;
  color: white;
}